/*Rodapé*/

footer {
    text-align: center;
}

footer p {
    font-weight: bold;
    padding: 10px;
}

/*cabeçalho*/


/*Conteudo principal*/


/*banner*/

/*Produtos vendidos*/
/*Rodapé*/

/*Botão Voltar topo*/

/* página de login  */


/* Formulário de cadastro*/

